<?xml version="1.0" encoding="UTF-8"?>

<configuration>

    <!-- 로그 파일을 저장할 폴더 -->
    <property name="LOG_PATH" value="./logs"/>

    <!-- 로그 출력 형식 -->
    <property name="LOG_PATTERN"
              value="%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{40} - %msg%n"/>

    <!-- 콘솔 로그 -->
    <appender name="CONSOLE"
              class="ch.qos.logback.core.ConsoleAppender">

        <encoder>
            <pattern>${LOG_PATTERN}</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <!-- 배치 로그 파일 -->
    <appender name="BATCH_FILE"
              class="ch.qos.logback.core.rolling.RollingFileAppender">

        <!-- 현재 사용 중인 로그 파일 -->
        <file>${LOG_PATH}/batch.log</file>

        <!-- 날짜별 로그 파일 분리 -->
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">

            <!-- 지난 로그 파일 이름 -->
            <fileNamePattern>
                ${LOG_PATH}/batch.%d{yyyy-MM-dd}.log
            </fileNamePattern>

            <!-- 로그 파일 보관 기간 -->
            <maxHistory>30</maxHistory>
        </rollingPolicy>

        <encoder>
            <pattern>${LOG_PATTERN}</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <!-- 우리 프로젝트의 배치 패키지 로그 -->
    <logger name="com.practice.batchpractice.batch"
            level="DEBUG"
            additivity="false">

        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="BATCH_FILE"/>
    </logger>

    <!-- 전체 애플리케이션 기본 로그 -->
    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>

</configuration>